<% unless EnterpriseToken.allows_to?(ee_feature) %>
  <div class="form--field-extra-actions">
    <%=
      angular_component_tag 'opce-enterprise-banner',
                            inputs: {
                              collapsible: true,
                              textMessage: explanation,
                              topMargin: true,
                              moreInfoLink: OpenProject::Static::Links.links[:enterprise_docs][:attribute_highlighting][:href],
                            }
    %>
  </div>
<% end %>
